<link rel="stylesheet" href="../../css/global.css" />
<link rel="stylesheet" href="menu.css" />
<div class="test" theme="success">
  <div class="menu">
    <input type="checkbox" id="toggle-menu" />

    <div class="menu__row" first>
      <div
        class="menu__icon"
        style="--image: url(../../../library/icon/home.png)"
      ></div>
      <label
        class="menu__icon"
        for="toggle-menu"
        style="--image: url(../../../library/icon/hamburger.png)"
      ></label>
    </div>

    <div class="menu__row" theme="orange">
      <a href="/" class="menu__link" title="Wanna be a web designer">
        Aici are portocale si nu altceva.
      </a>
      <div
        class="menu__icon"
        style="--image: url(../../../library/icon/arrow-right.png)"
      ></div>
    </div>

    <div class="menu__row" theme="rose">
      <a href="/" class="menu__link" title="Wanna be a web designer">
        Trandafiri roz si nu albastri.
      </a>
      <div
        class="menu__icon"
        style="--image: url(../../../library/icon/arrow-right.png)"
      ></div>
    </div>

    <div class="menu__row" theme="blue-gray" first>
      <a href="/" class="menu__link" title="Wanna be a web designer">
        Albastru visam de cand eram in scutece.
      </a>
      <div
        class="menu__icon"
        style="--image: url(../../../library/icon/arrow-right.png)"
      ></div>
    </div>

    <div class="menu__row" theme="pink">
      <a href="/" class="menu__link" title="Wanna be a web designer">
        Roz nu este doar pentru fete. boo
      </a>
      <div
        class="menu__icon"
        style="--image: url(../../../library/icon/arrow-right.png)"
      ></div>
    </div>

    <div class="menu__row" theme="purple">
      <a href="/" class="menu__link" title="Wanna be a web designer">
        Mov sunt sosetele :p
      </a>
      <div
        class="menu__icon"
        style="--image: url(../../../library/icon/arrow-right.png)"
      ></div>
    </div>

    <div class="menu__row" theme="warning">
      <a href="/" class="menu__link" title="Wanna be a web designer">
        Nu pune labuta, ca te ard.
      </a>
      <div
        class="menu__icon"
        style="--image: url(../../../library/icon/arrow-right.png)"
      ></div>
    </div>

    <div class="menu__row" theme="error">
      <a href="/" class="menu__link" title="Wanna be a web designer">
        Toxic field.
      </a>
      <div
        class="menu__icon"
        style="--image: url(../../../library/icon/arrow-right.png)"
      ></div>
    </div>

    <div class="menu__row">
      <a href="/" class="menu__link" title="Wanna be a web designer">
        Titlul d***ului, sa te fugaresca cainii :))
      </a>
      <div
        class="menu__icon"
        style="--image: url(../../../library/icon/arrow-right.png)"
      ></div>
    </div>
  </div>

  <div class="menu" position="top">
    <div class="menu__row" first>
      <a href="/" class="menu__link" title="Wanna be a web designer"
        >Wanna be a web designer
      </a>
    </div>
  </div>
</div>
