<link rel="stylesheet" href="../../css/global.css" />
<link rel="stylesheet" href="menu.css" />

<div class="menu">
  <input type="checkbox" id="toggle-menu" />

  <div class="menu__row" first>
    <div
      class="menu__icon"
      style="--image: url(../../../library/icon/home.png)"
    ></div>
    <label
      class="menu__icon"
      for="toggle-menu"
      style="--image: url(../../../library/icon/hamburger.png)"
    ></label>
  </div>

  <div class="menu__row">
    <a href="/" class="menu__link" title="Wanna be a web designer"
      >Wanna be a web designer</a
    >
    <div
      class="menu__icon"
      style="--image: url(../../../library/icon/arrow-right.png)"
    ></div>
  </div>

  <div class="menu__row">
    <a href="/" class="menu__link" title="Wanna be a web designer"
      >Wanna be a web designer</a
    >
    <div
      class="menu__icon"
      style="--image: url(../../../library/icon/arrow-right.png)"
    ></div>
  </div>

  <div class="menu__row" first>
    <a href="/" class="menu__link" title="Wanna be a web designer"
      >Wanna be a web designer Wanna be a web designer Wanna be a web designer
      Wanna be a web designer Wanna be a web designer</a
    >
    <div
      class="menu__icon"
      style="--image: url(../../../library/icon/arrow-right.png)"
    ></div>
  </div>

  <div class="menu__row">
    <a href="/" class="menu__link" title="Wanna be a web designer"
      >Wanna be a web designer</a
    >
    <div
      class="menu__icon"
      style="--image: url(../../../library/icon/arrow-right.png)"
    ></div>
  </div>

  <div class="menu__row">
    <a href="/" class="menu__link" title="Wanna be a web designer"
      >Wanna be a web designer</a
    >
    <div
      class="menu__icon"
      style="--image: url(../../../library/icon/arrow-right.png)"
    ></div>
  </div>
</div>
