<link rel="stylesheet" href="../../css/global.css" />
<link rel="stylesheet" href="text.css" />

<div class="flex">
  <p class="text" type="title">Aici urmeaza sa apara paragrafele</p>
  <p class="text" type="normal">Aici urmeaza sa apara paragrafele</p>
</div>

<ul class="star">
  <li class="text" type="list">Aici urmeaza sa apara paragrafele</li>
  <li class="text" type="list">Aici urmeaza sa apara paragrafele</li>
  <li class="text" type="list">Aici urmeaza sa apara paragrafele</li>
</ul>

<ul class="lower">
  <li class="text" type="list">Aici urmeaza sa apara paragrafele</li>
  <li class="text" type="list">
    Aici urmeaza sa apara paragrafele
    <ul class="star">
      <li>asa</li>
      <li>lmkfd</li>
      <li>fdfd</li>
      <li>okfldmf</li>
    </ul>
  </li>
  <li class="text" type="list">Aici urmeaza sa apara paragrafele</li>
</ul>

<ul class="upper">
  <li class="text" type="list">Aici urmeaza sa apara paragrafele</li>
  <li class="text" type="list">Aici urmeaza sa apara paragrafele</li>
  <li class="text" type="list">Aici urmeaza sa apara paragrafele</li>
</ul>

<ol>
  <li class="text" type="list">Aici urmeaza sa apara paragrafele</li>
  <li class="text" type="list">Aici urmeaza sa apara paragrafele</li>
  <li class="text" type="list">Aici urmeaza sa apara paragrafele</li>
</ol>
